.container {
  width: 100%;
  padding: 10px 0 20px;
}

.wrapper {
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container .title {
  color: #000;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 800;
}

.container .title:hover {
  text-decoration: underline;
}

.container .description {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #888;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px 0 20px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 13.5px;
  }

  .wrapper {
    height: 225px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 10px 0 15px;
  }

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }

  .wrapper {
    height: 200px;
  }
}
