.container {
  padding: 70px;
  max-width: 800px;
  margin-inline: auto;
  margin-top: 70px;
}

.container h1 {
  font-size: 30px;
  font-weight: 800;
}

.container .title {
  padding: 30px 0 20px;
  font-size: 35px;
  font-weight: 800;
}

.container p {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 30px;
}

.link {
  color: #0041b8;
}

.link:hover {
  text-decoration: underline;
}

.header {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.header .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 50px;
    margin-top: 60px;
  }

  .container h1 {
    font-size: 27px;
  }

  .container .title {
    padding: 27px 0 17px;
    font-size: 32px;
  }

  .container p {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 30px;
    margin-top: 50px;
  }

  .container h1 {
    font-size: 24px;
  }

  .container .title {
    padding: 25px 0 15px;
    font-size: 30px;
  }

  .container p {
    font-size: 14px;
  }
}
