.notFound {
  margin-inline: auto;
  max-width: 850px;
  height: 80vh;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound h1 {
  font-size: 40px;
  font-weight: 800;
}

.notFound h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  padding: 10px 0;
}

.notFound button {
  border: 2px solid #004de8;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #004de8;
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}

.notFound button:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #004de8;
  color: #fff;
}

.loading {
  height: 80vh;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h1 {
  font-size: 40px;
  font-weight: 800;
}

.error {
  height: 80vh;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error h1 {
  font-size: 40px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .notFound {
    padding: 50px;
  }

  .notFound h1,
  .loading h1,
  .error h1 {
    font-size: 33px;
  }

  .notFound h4 {
    font-size: 18px;
  }

  .notFound button {
    font-size: 16px;
    padding: 9px 18px;
  }
}

@media screen and (max-width: 430px) {
  .notFound {
    padding: 30px;
  }

  .notFound h1,
  .loading h1,
  .error h1 {
    font-size: 30px;
  }

  .notFound h4 {
    font-size: 14px;
  }

  .notFound button {
    font-size: 15px;
    padding: 8px 16px;
  }
}
