.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.nav .logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav h1 {
  font-size: 33px;
  font-weight: 700;
  color: #000;
}

.nav .navMobile:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 60px;
    padding: 0 45px;
  }

  .nav .logo {
    gap: 6px;
  }

  .nav .logo h1 {
    font-size: 29px;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    height: 50px;
    padding: 0 20px;
  }

  .nav .logo {
    gap: 6px;
  }

  .nav .logo h1 {
    font-size: 25px;
  }
}
