.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.nav .logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav h1 {
  font-size: 33px;
  font-weight: 700;
  color: #000;
}

.nav .navMobile:hover {
  cursor: pointer;
}

.dropdownMenu {
  height: calc(100vh - 70px);
  width: 50%;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
  padding: 100px 0 0;
}

.dropdownMenu li {
  text-align: center;
  display: block;
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.dropdownMenu li:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 60px;
    padding: 0 45px;
  }

  .nav .logo {
    gap: 6px;
  }

  .nav .logo h1 {
    font-size: 29px;
  }

  .dropdownMenu {
    height: calc(100vh - 60px);
    top: 60px;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    height: 50px;
    padding: 0 20px;
  }

  .nav .logo {
    gap: 6px;
  }

  .nav .logo h1 {
    font-size: 25px;
  }

  .dropdownMenu {
    height: calc(100vh - 50px);
    top: 50px;
  }
}
