.container {
  padding: 70px;
  background-color: #e6edfc;
}

.container h1 {
  font-size: 30px;
  font-weight: 800;
}

.container p {
  font-size: 15px;
  font-weight: 500;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card {
  width: 32%;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.btn button {
  display: flex;
  align-items: center;
  justify-content: "center";
  gap: 10px;
  border: 2px solid #004de8;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #004de8;
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}

.btn button:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #004de8;
  color: #fff;
}

.btn button:hover .arrow {
  rotate: -45deg;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 50px;
  }

  .container h1 {
    font-size: 26px;
  }

  .container p {
    font-size: 14px;
  }

  .card {
    width: 48%;
  }

  .card:nth-child(3) {
    display: none;
  }

  .btn button {
    gap: 8px;
    font-size: 16px;
    padding: 9px 18px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 30px;
  }

  .container h1 {
    font-size: 24px;
  }

  .container p {
    font-size: 14px;
  }

  .wrapper {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card:nth-child(3) {
    display: block;
  }

  .btn button {
    gap: 8px;
    font-size: 15px;
    padding: 8px 16px;
  }
}
